.nav{
    margin-bottom: 5rem;

    &__logo{
        height: 5rem;
    }

    &__ul{
        height: 10rem;
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 1.6rem;
        

        
    }

    &__item{
        
        & a:link,
        & a:visited{
            color: $color_white;
            text-decoration: none;
            text-transform: capitalize;
            font-weight: 500;
            border-bottom: 1px solid transparent;
            transition: all .2s;
        }

        & a:hover:not(.btn__text){
            border-bottom: 1px solid $color_white;
        }

        &:not(:last-child){
            margin-right: 4rem;
        }
    }

    &__log-in{
        margin-left: auto;
    }

}


.header{
    background-image:radial-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)),url(../img/header.png);
    background-size: cover;
    padding-bottom: 10rem;


    &__text{
        width: 80%;


        &--primary{
            color: $color_white;
            font-size: 6.9rem;
            margin-bottom: 2rem;
        }

        &--secondary{
            color: $color_white;
            font-size: 2.4rem;
        }
    }

}