 .card{
     position: relative;
     color: $color_white;
     padding: 5rem;
     margin-right: 2rem;

     
     &__list{
         list-style: square;
         margin-left: 2rem;

         &--item{
             font-size: 1.8rem;
             margin-bottom: 3rem;
         }
     }

     &__image{
         position: absolute;
         bottom: 0;
         right: 0;
         width: 45%;
     }

    &--1{
        background-color: $color_secondary;

    }

    &--2{
        background-color: $color_primary;

    }
 }